# FVA on E. coli Suc

In [1]:
import cobra

In [32]:
import pandas as pd

In [2]:
from cobra.io import load_model

In [200]:
model = load_model("iJO1366") #no need to import from matlab

In [4]:
from cobra.flux_analysis import flux_variability_analysis

In [201]:
model

In [6]:
cobra.Reaction("SUCCtex")

In [7]:
SUCCtex = model.reactions.get_by_id("SUCCtex")
SUCCtex

### Default growth biomass

In [77]:
print(model.objective.expression)
print(model.objective.direction)

1.0*BIOMASS_Ec_iJO1366_core_53p95M - 1.0*BIOMASS_Ec_iJO1366_core_53p95M_reverse_5c8b1
max

In [78]:
solution = model.optimize()
print(solution)

<Solution 0.982 at 0x7fee174bed00>

In [139]:
biomass = "BIOMASS_Ec_iJO1366_core_53p95M"

In [140]:
model.objective = biomass

In [141]:
model.summary()

In [13]:
flux_variability_analysis(model, model.reactions[:10])

                                 minimum       maximum
DM_4crsol_c                     0.000219  2.190689e-04
DM_5drib_c                      0.000221  2.210337e-04
DM_aacald_c                     0.000000  0.000000e+00
DM_amob_c                       0.000002  1.964744e-06
DM_mththf_c                     0.000440  4.401026e-04
DM_oxam_c                       0.000000  9.210321e-15
BIOMASS_Ec_iJO1366_WT_53p95M    0.000000  4.609890e-16
BIOMASS_Ec_iJO1366_core_53p95M  0.982372  9.823718e-01
EX_12ppd__R_e                   0.000000  6.963901e-15
EX_12ppd__S_e                   0.000000  6.852479e-15

In [14]:
?flux_variability_analysis

Signature:
flux_variability_analysis(
    model: 'Model',
    reaction_list: Union[List[Union[ForwardRef('Reaction'), str]], NoneType] = None,
    loopless: bool = False,
    fraction_of_optimum: float = 1.0,
    pfba_factor: Union[float, NoneType] = None,
    processes: Union[int, NoneType] = None,
) -> pandas.core.frame.DataFrame
Docstring:
Determine the minimum and maximum flux value for each reaction.

Parameters
----------
model : cobra.Model
    The model for which to run the analysis. It will *not* be modified.
reaction_list : list of cobra.Reaction or str, optional
    The reactions for which to obtain min/max fluxes. If None will use
    all reactions in the model (default None).
loopless : bool, optional
    Whether to return only loopless solutions. This is significantly
    slower. Please also refer to the notes (default False).
fraction_of_optimum : float, optional
    Must be <= 1.0. Requires that the objective value is at least the
    fraction times maximum objective value. A value of 0.85 for instance
    means that the objective has to be at least at 85% percent of its
    maximum (default 1.0).
pfba_factor : float, optional
    Add an additional constraint to the model that requires the total sum
    of absolute fluxes must not be larger than this value times the
    smallest possible sum of absolute fluxes, i.e., by setting the value
    to 1.1 the total sum of absolute fluxes must not be more than
    10% larger than the pFBA solution. Since the pFBA solution is the
    one that optimally minimizes the total flux sum, the `pfba_factor`
    should, if set, be larger than one. Setting this value may lead to
    more realistic predictions of the effective flux bounds
    (default None).
processes : int, optional
    The number of parallel processes to run. If not explicitly passed,
    will be set from the global configuration singleton (default None).

Returns
-------
pandas.DataFrame
    A data frame with reaction identifiers as the index and two columns:
    - maximum: indicating the highest possible flux
    - minimum: indicating the lowest possible flux

Notes
-----
This implements the fast version as described in [1]_. Please note that
the flux distribution containing all minimal/maximal fluxes does not have
to be a feasible solution for the model. Fluxes are minimized/maximized
individually and a single minimal flux might require all others to be
sub-optimal.

Using the loopless option will lead to a significant increase in
computation time (about a factor of 100 for large models). However, the
algorithm used here (see [2]_) is still more than 1000x faster than the
"naive" version using `add_loopless(model)`. Also note that if you have
included constraints that force a loop (for instance by setting all fluxes
in a loop to be non-zero) this loop will be included in the solution.

References
----------
.. [1] Computationally efficient flux variability analysis.
   Gudmundsson S, Thiele I.
   BMC Bioinformatics. 2010 Sep 29;11:489.
   doi: 10.1186/1471-2105-11-489, PMID: 20920235

.. [2] CycleFreeFlux: efficient removal of thermodynamically infeasible
   loops from flux distributions.
   Desouki AA, Jarre F, Gelius-Dietrich G, Lercher MJ.
   Bioinformatics. 2015 Jul 1;31(13):2159-65.
   doi: 10.1093/bioinformatics/btv096.
File:      ~/miniconda3/envs/cobra/lib/python3.8/site-packages/cobra/flux_analysis/variability.py
Type:      function

### Change to Suc

In [202]:
model.objective = 'EX_succ_e'

In [203]:
print(model.objective.expression)
print(model.objective.direction)

1.0*EX_succ_e - 1.0*EX_succ_e_reverse_a9039
max

### Set biomass as 0.5

In [204]:
model.reactions.get_by_id(biomass).lower_bound = 0.98*0.5

In [205]:
flux_variability_analysis(model, biomass, loopless=True)

                                minimum  maximum
BIOMASS_Ec_iJO1366_core_53p95M     0.49     0.49

In [162]:
solution = model.optimize()
print(solution)

<Solution 8.582 at 0x7fee057caac0>

When it's optimized? what's the flux and bound?

In [149]:
model.summary()

In [150]:
KOlist = ['GLCabcpp', 'GLCptspp', 'HEX1', 'PGI', 'PFK', 'FBA', 'TPI', 'GAPD', 'PGK', 'PGM', 'ENO', 'PYK', 'LDH_D', 'PFL', 'ALCD2x', 'PTAr', 'ACKr', 'G6PDH2r', 'PGL', 'GND', 'RPI', 'RPE', 'TKT1', 'TALA', 'TKT2', 'FUM', 'FRD2', 'SUCOAS', 'AKGDH', 'ACONTa', 'ACONTb', 'ICDHyr', 'CS', 'MDH',  'MDH2', 'MDH3', 'ACALD']

In [151]:
flux_variability_analysis(model, "EX_succ_e")

            minimum   maximum
EX_succ_e  8.581712  8.581712

In [152]:
model.optimize()

In [153]:
model.optimize().objective_value

8.581712320160058

In [154]:
flux_variability_analysis(model, KOlist, loopless=True)

               minimum       maximum
GLCabcpp  0.000000e+00  4.326021e-13
GLCptspp  7.150489e+00  7.150489e+00
HEX1      0.000000e+00  2.849511e+00
PGI       5.979908e+00  8.829419e+00
PFK       8.889758e+00  8.889758e+00
FBA      -3.244516e-13  9.183254e+00
TPI       9.114014e+00  9.114014e+00
GAPD      1.843037e+01  1.843037e+01
PGK      -1.843037e+01 -1.843037e+01
PGM      -1.758847e+01 -1.758847e+01
ENO       1.758847e+01  1.758847e+01
PYK       0.000000e+00  1.297806e-12
LDH_D    -4.326021e-13  3.090015e-13
PFL       0.000000e+00  1.297806e-12
ALCD2x   -2.936213e-14  0.000000e+00
PTAr     -2.854622e-01  0.000000e+00
ACKr      0.000000e+00  2.854622e-01
G6PDH2r   1.170581e+00  1.170581e+00
PGL       1.170581e+00  1.170581e+00
GND       1.170581e+00  1.170581e+00
RPI      -7.509427e-01 -7.509427e-01
RPE       4.001342e-01  4.001342e-01
TKT1      2.934959e-01  2.934959e-01
TALA      0.000000e+00  0.000000e+00
TKT2      1.066383e-01  1.066383e-01
FUM      -4.443621e+00 -4.443621e+00
FRD2      0.000000e+00  4.954287e+00
SUCOAS   -3.369916e+00 -3.369916e+00
AKGDH     3.627098e+00  3.627098e+00
ACONTa    4.153942e+00  4.153942e+00
ACONTb    4.153942e+00  4.153942e+00
ICDHyr    4.153942e+00  4.153942e+00
CS        4.153942e+00  4.153942e+00
MDH      -4.443981e+00 -4.443981e+00
MDH2      0.000000e+00  4.326021e-13
MDH3      0.000000e+00  4.326021e-13
ACALD    -4.635023e-13  1.081505e-12

change the bound first and the dom the simulation?

In [155]:
flux_variability_analysis(model, "MALS", loopless=True)

       minimum   maximum
MALS  0.000328  0.000328

In [156]:
model.reactions.MALS.summary()

based on the current flux and modified the

That's the flux based on the FBA, how can I change it not just the bound?

## OptForce init Flux

In [157]:
opt_df = pd.read_csv("OptForce_Suc_Ecoli_20comb.csv")

In [158]:
optList = list(opt_df["Force Set"])

In [159]:
ori_b_df = flux_variability_analysis(model, optList, loopless=True)

In [160]:
ori_b_df

            minimum     maximum
SUCCtex   -8.581712   -8.581712
O2tex      8.804684  258.802716
MALS       0.000328    0.000328
EX_k_e    -0.095645   -0.095645
EX_nh4_e  -5.292404   -5.292404
EX_pi_e   -0.472669   -0.472669
EX_so4_e  -0.123583   -0.123583
CO2tpp    -5.559442   -5.559442
DHORTS    -0.162090   -0.162090
ASAD      -0.523847   -0.523847
ACONTa     4.153942    4.153942
G3PD2     -0.068124   -0.068124
GAPD      18.430371   18.430371
IPPMIa    -0.220760   -0.220760
IPPMIb    -0.220760   -0.220760
KARA1     -0.428392   -0.428392
ILETA     -0.142359   -0.142359
IMPC      -0.265949   -0.265949
SDPDS      0.181765    0.181765
ORPT      -0.162090   -0.162090

## Test with model:

In [92]:
objList = []

In [93]:
for rec in KOlist:
    with model:
        model.reactions.get_by_id(rec).knock_out()
        objList.append(model.optimize().objective_value)

In [94]:
objList

[17.096428571428564,
 16.988888888888887,
 17.09642857142855,
 16.988888888888866,
 17.096428571428582,
 17.096428571428582,
 16.087096774193533,
 14.151612903225791,
 14.151612903225791,
 14.796774193548423,
 14.796774193548423,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 17.096428571428586,
 16.76302521008404,
 17.096428571428575,
 17.096428571428575,
 17.096428571428575,
 16.681632653061293,
 16.68163265306122,
 17.09642857142857,
 16.681632653061243,
 16.77387755102041,
 17.09642857142857,
 17.09642857142857,
 17.09642857142857]

## Test KO on FVA

When I'm using the `model.optimize()` is still the FVA?

`flux_variability_analysis(model, model.reactions[:10])`

In [36]:
df1 = flux_variability_analysis(model, "EX_succ_e")

In [40]:
df1

             minimum    maximum
EX_succ_e  17.096429  17.096429

In [39]:
df1.loc["EX_succ_e", "minimum"]

17.09642857142856

In [41]:
df1.loc["EX_succ_e", "maximum"]

17.096428571428554

In [51]:
df1.columns

Index(['minimum', 'maximum'], dtype='object')

In [53]:
df = pd.DataFrame(columns=['minimum', 'maximum'])

In [54]:
df

Empty DataFrame
Columns: [minimum, maximum]
Index: []

In [57]:
df = pd.concat([df, df1], join="inner")

In [58]:
df

             minimum    maximum
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429

In [96]:
df = pd.DataFrame(columns=['minimum', 'maximum'])

In [97]:
for rec in KOlist:
    with model:
        model.reactions.get_by_id(rec).knock_out()
        df1 = flux_variability_analysis(model, "EX_succ_e")
        df = pd.concat([df, df1], join="inner")

In [98]:
df

             minimum    maximum
EX_succ_e  17.096429  17.096429
EX_succ_e  16.988889  16.988889
EX_succ_e  17.096429  17.096429
EX_succ_e  16.988889  16.988889
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  16.087097  16.087097
EX_succ_e  14.151613  14.151613
EX_succ_e  14.151613  14.151613
EX_succ_e  14.796774  14.796774
EX_succ_e  14.796774  14.796774
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  16.763025  16.763025
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  16.681633  16.681633
EX_succ_e  16.681633  16.681633
EX_succ_e  17.096429  17.096429
EX_succ_e  16.681633  16.681633
EX_succ_e  16.773878  16.773878
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429
EX_succ_e  17.096429  17.096429

## Set bounds based on OptForce

### Test `with model`

In [101]:
testList = ["EX_nh4_e", "O2tex"]

In [109]:
for rec in testList:
    with model:
        model.reactions.get_by_id(rec).lower_bound = -500
        model.reactions.get_by_id(rec).upper_bound = 500
        print(model.reactions.get_by_id("EX_nh4_e").bounds)
        print(model.reactions.get_by_id("O2tex").bounds)

(-500, 500)
(-1000.0, 1000.0)
(-1000.0, 1000.0)
(-500, 500)

In [112]:
model.reactions.get_by_id("EX_nh4_e").bounds

(-1000.0, 1000.0)

In [113]:
model.reactions.get_by_id("O2tex").bounds

(-1000.0, 1000.0)

So use the `with model:` won't change the ori model

### Comb Gen

In [118]:
opt_df = opt_df[:12]

In [119]:
opt_df

,Number of interventions,Set number,Force Set,Type of regulation,Min flux in Wild Type (mmol/gDW hr),Max flux in Wild Type (mmol/gDW hr),Min flux in Mutant (mmol/gDW hr),Max flux in Mutant (mmol/gDW hr),Achieved flux (mmol/gDW hr),Objective function (mmol/gDW hr),Minimum guaranteed for target (mmol/gDW hr),Maximum guaranteed for target (mmol/gDW hr),Maximum growth rate (1/hr)
0,1,1,SUCCtex,downregulation,-211.619609,0.000000,-400.000000,-400.000000,-400,4.000000e+02,400,400.000000,0.000000
1,1,2,O2tex,downregulation,51.223218,100.000000,0.000000,100.000000,100,0.000000e+00,0,198.530862,9.258553
2,1,3,MALS,upregulation,0.000000,102.257274,0.000000,130.620000,0,0.000000e+00,0,198.530649,9.258553
3,1,4,EX_k_e,upregulation,-1.806094,-1.756737,0.000000,0.000000,0,9.163160e-10,0,400.000000,0.000000
4,1,5,EX_nh4_e,upregulation,-100.000000,-97.207416,-42.382609,0.000000,0,0.000000e+00,0,400.000000,0.000000
5,1,6,EX_pi_e,upregulation,-33.492968,-8.681679,0.000000,0.000000,0,0.000000e+00,0,400.000000,0.000000
6,1,7,EX_so4_e,upregulation,-55.200639,-2.269890,0.000000,0.000000,0,0.000000e+00,0,400.000000,0.000000
7,1,8,CO2tpp,upregulation,-488.021037,130.144490,100.000000,321.850000,100,0.000000e+00,0,81.649424,9.258553
8,1,9,DHORTS,upregulation,-27.628953,-2.977155,0.000000,0.000000,0,2.273740e-11,0,400.000000,0.000000
9,1,10,ASAD,upregulation,-83.373351,-9.621684,-39.160000,0.000000,0,0.000000e+00,0,400.000000,0.000000
10,1,11,ACONTa,knockout,9.676728,155.473807,55.690909,169.628571,0,2.785330e-10,0,381.375510,0.000000
11,1,12,G3PD2,upregulation,-120.043499,98.748748,-117.480000,100.000000,100,0.000000e+00,0,400.000000,0.000000

In [120]:
opt_dict = dict(zip(opt_df["Force Set"], opt_df["Type of regulation"]))

In [121]:
opt_dict

{'SUCCtex': 'downregulation',
 'O2tex': 'downregulation',
 'MALS': 'upregulation',
 'EX_k_e': 'upregulation',
 'EX_nh4_e': 'upregulation',
 'EX_pi_e': 'upregulation',
 'EX_so4_e': 'upregulation',
 'CO2tpp': 'upregulation',
 'DHORTS': 'upregulation',
 'ASAD': 'upregulation',
 'ACONTa': 'knockout',
 'G3PD2': 'upregulation'}

In [131]:
opt_dict["SUCCtex"]

'downregulation'

In [123]:
targetList = list(opt_df["Force Set"])

In [126]:
from itertools import combinations

In [127]:
def combGen(targetList, targetNum=len(targetList)):
    combList = []
    for i in range(1,targetNum+1):
        combList.extend(list(combinations(targetList, i)))
    return combList

In [128]:
combList = combGen(targetList)

In [129]:
len(combList)

4095

### Set bounds

In [206]:
combList[1:5]

[('O2tex',), ('MALS',), ('EX_k_e',), ('EX_nh4_e',)]

In [227]:
fva_df = pd.DataFrame(columns=['minimum', 'maximum'])
for comb in combList[:15]:
    with model:
        try:
            for rec in comb:
                if opt_dict[rec] == 'downregulation':
                    l_bound, u_bound = setBounds(ori_b_df, rec, "downregulation")
                    model.reactions.get_by_id(rec).lower_bound = l_bound
                    model.reactions.get_by_id(rec).upper_bound = u_bound
                elif opt_dict[rec] == 'upregulation':
                    l_bound, u_bound = setBounds(ori_b_df, rec, "upregulation")
                    model.reactions.get_by_id(rec).lower_bound = l_bound
                    model.reactions.get_by_id(rec).upper_bound = u_bound
                elif opt_dict[rec] == 'knockout':
                    model.reactions.get_by_id(rec).knock_out()
            temp_df = flux_variability_analysis(model, "EX_succ_e")
            fva_df = pd.concat([fva_df, temp_df], join="inner")
        except:
            temp_df = pd.DataFrame(columns=['minimum', 'maximum'])
            temp_df.loc["EX_succ_e"] = [0, 0]
            fva_df = pd.concat([fva_df, temp_df], join="inner")

In [228]:
fva_df

            minimum   maximum
EX_succ_e         0         0
EX_succ_e  8.581712  8.581712
EX_succ_e  8.581702  8.581702
EX_succ_e         0         0
EX_succ_e         0         0
EX_succ_e         0         0
EX_succ_e         0         0
EX_succ_e  8.466396  8.466396
EX_succ_e         0         0
EX_succ_e         0         0
EX_succ_e         0         0
EX_succ_e         0         0
EX_succ_e         0         0
EX_succ_e         0         0
EX_succ_e         0         0

In [226]:
fva_df.value_counts()

minimum   maximum
0.000000  0.000000    4088
8.466385  8.466385       1
          8.466385       1
8.466396  8.466396       1
          8.466396       1
8.581702  8.581702       1
          8.581702       1
8.581712  8.581712       1
dtype: int64

In [221]:
temp_df = pd.DataFrame(columns=['minimum', 'maximum'])

In [222]:
temp_df.loc["EX_succ_e"] = [0, 0]

In [223]:
temp_df

           minimum  maximum
EX_succ_e        0        0

### The ways to handle expetion

# Safety check before setting up FVA.
--> 188         model.slim_optimize(
    189             error_value=None,
    190             message="There is no optimal solution for the chosen objective!",

In [208]:
fva_df

Empty DataFrame
Columns: [minimum, maximum]
Index: []

In [184]:
model.reactions.get_by_id("G3PD2")

In [185]:
flux_variability_analysis(model, "G3PD2")

        minimum   maximum
G3PD2 -0.068124 -0.068124

In [186]:
l_bound, u_bound = setBounds(ori_b_df, "G3PD2", "upregulation")
model.reactions.get_by_id("G3PD2").lower_bound = -0.068124 * 2
model.reactions.get_by_id("G3PD2").upper_bound = -0.068124 * 2

In [189]:
model.reactions.get_by_id("G3PD2").lower_bound

-0.136248

In [191]:
flux_variability_analysis(model, "EX_succ_e")

            minimum   maximum
EX_succ_e  8.576621  8.576621

In [192]:
fva_df

            minimum   maximum
EX_succ_e  4.290856  4.290856
EX_succ_e  8.581712  8.581712
EX_succ_e  8.581711  8.581711
EX_succ_e  0.041589  0.041589
EX_succ_e  7.489330  7.489330
EX_succ_e  7.888688  7.888688
EX_succ_e  8.485397  8.485397
EX_succ_e  7.191852  7.191852
EX_succ_e  8.421930  8.421930
EX_succ_e  8.466130  8.466130

In [183]:
combList[11]

('G3PD2',)

how much would change the flux? x2?

The ori bound!!!

In [193]:
def setBounds(ori_b_df, rec ,regulation):
    if regulation == "downregulation":
        if ori_b_df.loc[rec]["minimum"] <= ori_b_df.loc[rec]["maximum"]:
            if ori_b_df.loc[rec]["minimum"] or ori_b_df.loc[rec]["maximum"] < 0:
                l_bound = ori_b_df.loc[rec]["minimum"] * 2
                u_bound = ori_b_df.loc[rec]["maximum"] * 2
            else:
                l_bound = ori_b_df.loc[rec]["minimum"] * 0.5
                u_bound = ori_b_df.loc[rec]["maximum"] * 0.5
        else:
            if ori_b_df.loc[rec]["minimum"] or ori_b_df.loc[rec]["maximum"] < 0:
                l_bound = ori_b_df.loc[rec]["maximum"] * 2
                u_bound = ori_b_df.loc[rec]["minimum"] * 2
            else:
                l_bound = ori_b_df.loc[rec]["maximum"] * 0.5
                u_bound = ori_b_df.loc[rec]["minimum"] * 0.5
    elif regulation == "upregulation":
        if ori_b_df.loc[rec]["minimum"] <= ori_b_df.loc[rec]["maximum"]:
            if ori_b_df.loc[rec]["minimum"] or ori_b_df.loc[rec]["maximum"] < 0:
                l_bound = ori_b_df.loc[rec]["minimum"] * 0.5
                u_bound = ori_b_df.loc[rec]["maximum"] * 0.5
            else:
                l_bound = ori_b_df.loc[rec]["minimum"] * 2
                u_bound = ori_b_df.loc[rec]["maximum"] * 2
        else:
            if ori_b_df.loc[rec]["minimum"] or ori_b_df.loc[rec]["maximum"] < 0:
                l_bound = ori_b_df.loc[rec]["minimum"] * 0.5
                u_bound = ori_b_df.loc[rec]["maximum"] * 0.5
            else:
                l_bound = ori_b_df.loc[rec]["minimum"] * 2
                u_bound = ori_b_df.loc[rec]["maximum"] * 2
    return l_bound, u_bound

In [198]:
l_bound, u_bound = setBounds(ori_b_df, "G3PD2", "upregulation")

In [199]:
l_bound

-0.034061860000415965